h1 {
    font-size: 2rem;
    font-family: "Tangerine", cursive;
    color: yellow;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    width: 100%;
    margin: 0;
    /* background-color: seashell; */
    background-image: linear-gradient(55deg, #FFFF00 0%, #00FF80 0%, #FF0080 55%,#00FFFF 75%, #FF00FF 83%,#0000FF 100%);
    /* background-image: linear-gradient(180deg, #0000ff 0%, #00ff00 50%, #00ff00 100%); */
    /* background-image: linear-gradient(180deg, #0000ff 0%, #00ff00 50%, #00ff00 100%); */
    background-image: radial-gradient(top, yellow, green);

    
}

/* gradient {
    background-image: linear-gradient(to bottom, #ff0000, #ff7f00, #ffff00);
  } */

.container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    place-items: center;
    /* position: relative; */
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    margin-top: 5%;
}

.img{
    height: 250px;
    width: 200px;
    object-fit: cover;
    display: inline-block;
    border-radius: 5%;
    margin-bottom: 25px;
    box-shadow: 8px 5px 0px 0px rgb(112, 104, 104);
    /* display: ; */

}



.show-img {
    transform: scale(1.6);
    transition: all 5s ease-in-out;
  }
  


.show {
    display: inline-block;
    
}

.hide-img {
    display: none;
}


.img-container1{
    grid-area: 1/ 1;
    z-index: 3;

}

.img-container2 {
    grid-area: 1/ 1;
    z-index: 2;
}

.img-container3 {
    grid-area: 1/ 1;
    z-index: 0;
}

.img-container4 {
    grid-area: 1/ 1;
    z-index: 1;
}

@media (max-width: 450px){
    .show-img {
        transform: scale(1.45);
        transition: all 4s ease-in-out;
      }
}
